{% load i18n carton_tags mcat_tags %}
{% get_cart as cart %}

<style>
#cart_content {
	min-height:120px;
	padding-bottom:2em;
}
</style>
<div class="container">
	<div class="row">
		<div class="col-xs-12" id="cart_content">
			<div style="padding-top:0.5em;">
				<a href="javascript:toggle_cart()">
					<i class="fa fa-close fa-2x pull-right grs"></i>
				</a>
			</div>
			<h3><i class="fa fa-shopping-cart"></i>&nbsp;{% trans 'Cart' %}</h3>
			{% if cart.items %}
				<p>
					{% include "mcat_order/cart_content.html" %}
				</p>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
				<p class="text-right gds">
					<a class="btn btn-default pull-left" href="javascript:clear_cart('{% url 'clear-cart' %}')">{% trans 'Clear cart' %}</a>
					<a class="btn btn-blue grs" href="{% url 'mcat-order' %}">{% trans 'Order now' %}</a>
				</p>
			{% else %}
				<p>{% trans 'No items in cart' %}</p>
			{% endif %}
		</div>
	</div>
</div>
